<?xml version="1.0"?>
<launch>
	
	<!-- navigation related components -->
	<include file="$(find bas_navigation)/launch/navigation_components.launch"/>
	
	<!-- manipulation related components -->
	<include file="$(find bas_manipulation)/launch/manipulation_components.launch"/>
	
	<!-- perception related components -->
	<include file="$(find bas_perception)/launch/perception_components.launch"/>
	
</launch>