<?xml version="1.0"?>
<launch>
	
	<!-- bas base driver -->
	<include file="$(find bas_motorcontroller)/launch/bas_motorcontroller.launch"/>
	
	<!-- bas environment map -->
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="map" default="$(find bas_environments)/data/$(arg robot_env)/map.bt" />
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" required="true" args="$(arg map)"> </node>
	
</launch>